{% extends  "../../layouts/aside.twig" %}


{% block content %}
    <div class="flex flex-col gap-5">
	<section class="bg-white p-6 rounded-md shadow-sm">
		<div class=" pb-4 mb-4">
			<h2 class="text-xl font-semibold text-gray-800">Account Information</h2>
		</div>

		<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
			<div class="flex flex-col">
				<label for="user__firstname" class="text-sm font-medium text-gray-700">First name</label>
				<input type="text" name="user__firstname" id="user__firstname" placeholder="First name" value="Maalainine" class="bg-white border border-gray-300 text-gray-900 rounded-md px-3 py-2 focus:ring-blue-500 focus:border-blue-500">
			</div>

			<div class="flex flex-col">
				<label for="user__lastname" class="text-sm font-medium text-gray-700">Last name</label>
				<input type="text" name="user__lastname" id="user__lastname" placeholder="Last name" value="Yara" class="bg-white border border-gray-300 text-gray-900 rounded-md px-3 py-2 focus:ring-blue-500 focus:border-blue-500">
			</div>

			<div class="flex flex-col">
				<label for="user__email" class="text-sm font-medium text-gray-700">Email</label>
				<input type="text" name="user__email" id="user__email" placeholder="Email" value="maalainine@gmail.com" class="bg-white border border-gray-300 text-gray-900 rounded-md px-3 py-2 focus:ring-blue-500 focus:border-blue-500">
			</div>

			<div class="flex flex-col">
				<label for="user__username" class="text-sm font-medium text-gray-700">Username</label>
				<input type="text" name="user__username" id="user__username" placeholder="Username" value="maalainineyara" class="bg-white border border-gray-300 text-gray-900 rounded-md px-3 py-2 focus:ring-blue-500 focus:border-blue-500">
			</div>
		</div>
		<div class="mt-6">
			<label for="userPicture" class="text-sm font-medium text-gray-700">Profile image</label>
			<div class="flex items-center gap-4 mt-2">
				<div class="w-16 h-16 rounded-full overflow-hidden border border-gray-300">
					<img src="/assets/images/linkedin.jpg" alt="Ali Yara" class="w-full h-full object-cover">
				</div>
				<div class="flex flex-col">
					<label for="userPicture" class="cursor-pointer bg-blue-500 text-white px-4 py-2 rounded-md shadow hover:bg-blue-600 transition">
						Upload File
					</label>
					<input type="file" id="file-upload" name="userPicture" class="hidden">
					<span class="text-sm text-gray-500 mt-1">No file chosen</span>
				</div>
			</div>
		</div>
	</section>

	<section class="bg-white p-6 rounded-md shadow-sm">
		<div class="pb-4 mb-4">
			<h2 class="text-xl font-semibold text-gray-800">Basic</h2>
		</div>

		<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
			<div class="flex flex-col">
				<label for="user__website" class="text-sm font-medium text-gray-700">Website Link</label>
				<input type="text" name="user__website" id="user__website" placeholder="www.example.com" value="www.maalainieyara.com" class="bg-white border border-gray-300 text-gray-900 rounded-md px-3 py-2 focus:ring-blue-500 focus:border-blue-500">
			</div>

			<div class="flex flex-col">
				<label for="user__work" class="text-sm font-medium text-gray-700">Work</label>
				<input type="text" name="user__work" id="user__work" placeholder="Work" value="Senior DevOps" class="bg-white border border-gray-300 text-gray-900 rounded-md px-3 py-2 focus:ring-blue-500 focus:border-blue-500">
			</div>
		</div>

		<div class="mt-6">
			<label for="user__bio" class="text-sm font-medium text-gray-700">Bio</label>
			<textarea name="user__bio" id="user__bio" placeholder="Bio..." class="bg-white border border-gray-300 text-gray-900 rounded-md px-3 py-2 w-full h-32 resize-none focus:ring-blue-500 focus:border-blue-500">Visionary and goal-oriented Director of Infrastructure Engineering with over 16 years’ experience running cost-effective infrastructure operations, and delivering innovative and cutting-edge information solutions to address business opportunities.</textarea>
		</div>
	</section>
    </div>


{% endblock %}
