<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/assets/css/output.css" rel="stylesheet">
		<title>Document</title>
	</head>
	<body>

		<h1 class="text-4xl text-blue-600 font-bold p-6 bg-gray-200 flex justify-center items-center h-screen">Hello,
			{{user}}
		</h1>
		<div class="bg-[#F8F9FA] text-[#1E1E2E] p-6">
			<h1 class="text-[#5E60CE] text-2xl font-bold">Upcoming Events</h1>
			<button class="bg-[#F72585] text-white px-4 py-2 rounded-lg hover:bg-[#F4A261]">
				Register Now
			</button>
		</div>
	</body>
</html>
