<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="/assets/css/output.css" rel="stylesheet">
</head>
<body class="flex items-center justify-center min-h-screen bg-gradient-to-r from-[#ff7a58] to-[#f05537]">

<div class="container mx-auto flex flex-col lg:flex-row-reverse items-center justify-center px-6"> <!-- Changed flex direction to row-reverse -->

    <div class="hidden lg:flex flex-col text-white w-1/2 p-10">
        <h1 class="text-4xl font-bold">WELCOME BACK</h1>
        <h2 class="text-xl font-semibold mt-2">TO EVENTLY</h2>
        <p class="mt-4 max-w-md leading-relaxed hidden"> <!-- Added hidden class to hide the description -->
            Seamlessly organize and promote local events with ease. Event organizers can manage ticket sales and attendee registrations, ensuring a smooth experience from start to finish.
        </p>
    </div>

    <div class="w-full lg:w-1/3 bg-white rounded-xl shadow-lg p-8">
        <div class="text-center mb-5"> logo </div>
        <h2 class="text-3xl font-bold text-center">Login</h2>
        <p class="text-center text-gray-600 mb-4">Sign in to your account.</p>

        <form class="mt-6">
            <div class="mt-4">
                <input type="email" placeholder="Email" class="border border-gray-300 p-3 w-full rounded-lg focus:outline-none focus:ring-2 focus:ring-[#f05537]">
            </div>
            <div class="relative mt-4">
                <input type="password" id="password" placeholder="Password" class="border border-gray-300 p-3 w-full rounded-lg focus:outline-none focus:ring-2 focus:ring-[#f05537]">
                <span class="absolute inset-y-0 right-4 flex items-center cursor-pointer" onclick="togglePassword('password')">
                    <img id="eye-slash" alt="" src="/assets/icons/eye-slash.svg" width="20" height="20">
                    <img id="eye" alt="" src="/assets/icons/eye.svg" width="20" height="20" class="hidden">
                </span>
            </div>
            <div class=" mt-6 flex flex-wrap items-center justify-between gap-4">
                <div class="flex items-center">
{#                    <input id="remember-me" name="remember-me" type="checkbox" class="h-4 w-4 shrink-0 text-[#f05537] focus:ring-[#f05537] border-gray-300 rounded checked:bg-[#f05537] checked:border-transparent" />#}

                    <input
                            type="checkbox"
                            class="peer h-5 w-5 cursor-pointer appearance-none rounded shadow hover:shadow-md border border-[#f05537] checked:bg-[#f05537] checked:border-[#f05537]"
                            id="check-currently-work"
                    />
                    <span
                            class="absolute text-white opacity-0 peer-checked:opacity-100 translate-x-1  transform"
                    >
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="h-3.5 w-3.5"
                                viewBox="0 0 20 20"
                                fill="currentColor"
                                stroke="currentColor"
                                stroke-width="1"
                        >
                          <path
                                  fill-rule="evenodd"
                                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                  clip-rule="evenodd"
                          ></path>
                        </svg>
                      </span>
                    <label for="remember-me" class="ml-3 block text-sm text-gray-800">
                        Remember me
                    </label>
                </div>
                <div class="text-sm">
                    <a href="/forgetPassword" class="text-[#f05537] hover:text-[#d04a2e] hover:underline font-semibold">
                        Forgot your password?
                    </a>
                </div>
            </div>
            <div class="mt-5">
                <button class="cursor-pointer bg-[#f05537] hover:bg-[#ff7a58] w-full text-center text-white py-3 rounded-lg font-semibold">Log in</button>
            </div>

            <div class="my-4 flex items-center gap-4">
                <hr class="w-full border-gray-300" />
                <p class="text-sm text-gray-800 text-center">or</p>
                <hr class="w-full border-gray-300" />
            </div>
            <button type="button" class="cursor-pointer w-full flex items-center justify-center gap-4 py-3 px-6 text-sm tracking-wide text-gray-800 border border-gray-300 rounded-md bg-gray-50 hover:bg-gray-100 focus:outline-none">
                <img alt="" src="/assets/icons/google.svg" width="20" height="20">
                Continue with google
            </button>
            <p class="text-center text-sm mt-4">Don't have an account? <a href="/register" class="text-[#f05537] hover:text-[#d04a2e] hover:underline">Register Now</a></p>
        </form>
    </div>
</div>

<script src="/assets/js/main.js"></script>
</body>
</html>
