<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Login</title>
		<link href="/assets/css/output.css" rel="stylesheet">
	</head>
	<body class="flex items-center justify-center bg-white">
		<div class="w-full grid grid-cols-1 lg:grid-cols-2">
			<div class="relative w-full h-screen hidden md:block">
				<img class="w-full h-full object-cover" src="https://images.unsplash.com/photo-1630450202872-e0829c9d6172?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" alt="">
			</div>
			<div class="p-12 flex flex-col items-center justify-center">

				<div class="w-full bg-white rounded-xl shadow-xl p-8 border-2 border-gray-200">
					<div class=" flex justify-center text-center mb-5">
						<a href="/" class="text-2xl font-bold font-unbounded text-orange flex justify-center">
							<img class="w-14" src="/assets/images/logo-png.png" alt="">
						</a>
					</div>

					<h2 class="text-3xl font-bold text-center">Register</h2>

					<form class="mt-6">
						<div class="grid grid-cols-2 gap-4">
							<input type="text" placeholder="First Name" class="border border-gray-300 p-3 rounded-lg w-full focus:outline-none focus:ring-2 focus:ring-[#f05537]">
							<input type="text" placeholder="Last Name" class="border border-gray-300 p-3 rounded-lg w-full focus:outline-none focus:ring-2 focus:ring-[#f05537]">
						</div>
						<div class="mt-4">
							<input type="email" placeholder="Email" class="border border-gray-300 p-3 w-full rounded-lg focus:outline-none focus:ring-2 focus:ring-[#f05537]">
						</div>
						<div class="mt-4">
							<input type="text" placeholder="Username" class="border border-gray-300 p-3 w-full rounded-lg focus:outline-none focus:ring-2 focus:ring-[#f05537]">
						</div>
						<div class="relative mt-4">
							<input type="password" id="password" placeholder="Password" class="border border-gray-300 p-3 w-full rounded-lg focus:outline-none focus:ring-2 focus:ring-[#f05537]">
							<span class="absolute inset-y-0 right-4 flex items-center cursor-pointer" onclick="togglePassword('password')">
								<img id="eye-slash" alt="" src="/assets/icons/eye-slash.svg" width="20" height="20">
								<img id="eye" alt="" src="/assets/icons/eye.svg" width="20" height="20" class="hidden">
							</span>
						</div>
						<div class="mt-5">
							<button class="cursor-pointer bg-[#f05537] hover:bg-[#ff7a58] w-full text-center text-white py-3 rounded-lg font-semibold">Register Now</button>
						</div>
						<p class="text-center text-sm mt-4">Already have an account?
							<a href="/login" class="text-[#f05537] hover:text-[#d04a2e] hover:underline">Sign In</a>
						</p>
					</form>
				</div>
			</div>
		</div>

		<script src="/assets/js/main.js"></script>
	</body>
</html>
