{% extends  "/layouts/Base.twig" %}


{% block content %}

	<div class="max-w-5xl mx-auto px-6 py-10">
		<div class="bg-white border-2 border-gray-200 shadow-lg rounded-2xl p-8 flex flex-col items-center text-center">
			<div class="relative">
				<div class="text-orange bg-gray-200 border-2 border-gray-300 w-28 h-28 rounded-full overflow-hidden shadow-lg flex justify-center items-center">
					{% if user["avatar"] is not empty %}
						<img class="w-full h-full object-cover" src="{{ user['avatar'] }}" alt="User Avatar">
					{% else %}
						<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentColor" class="size-17">
							<path d="M10 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM3.465 14.493a1.23 1.23 0 0 0 .41 1.412A9.957 9.957 0 0 0 10 18c2.31 0 4.438-.784 6.131-2.1.43-.333.604-.903.408-1.41a7.002 7.002 0 0 0-13.074.003Z"/>
						</svg>
					{% endif %}
				</div>
			</div>
			<h1 class="text-2xl font-bold text-darkblue font-unbounded mt-4 ">
				<span class="capitalize">{{ user["firstName"] }}
					{{ user["lastName"] }}</span>
			</h1>
			<p class="text-gray-600 text-sm">Senior DevOps Engineer</p>
			<p class="text-gray-700 text-sm mt-2 px-6">
				Visionary and goal-oriented Director of Infrastructure Engineering with over 16 years of experience.
			</p>
			<div class="mt-4 flex gap-3 text-gray-600 text-sm">
				<span>
					<i class="fa-solid fa-calendar-days"></i>
					Joined on 2025-01-17</span>

			</div>
			<a href="/setting/profile">
				<button class="mt-5 bg-orange hover:bg-darkOrange text-white px-6 py-2 rounded-full shadow-md transition-all cursor-pointer">
					Edit Profile
				</button>
			</a>
		</div>
	</div>

{% endblock %}
