@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Unbounded:wght@200..900&display=swap');
@import "tailwindcss";

@theme {
  --font-unbounded: "Unbounded", sans-serif; 
  --color-orange: #f05537;
  --color-darkblue: #101828;
  --color-darkOrange: #d8472a;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #f05537;
}

::-webkit-scrollbar-track {
  background-color: #eff2f9;
}

select[multiple] {
  width: 100%;
  height: 200px;
  padding: 5px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: #1e2532;
  background-color: #fff;
  outline: none;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #828ba2 #eff2f9;
  outline: none;
}

select[multiple] option {
  padding: 8px;
  margin-bottom: 5px;
  background-color: #e7e6e6;
  border-radius: 4px;
  transition: background-color 0.2s, color 0.2s;
}

select[multiple] option:checked {
  background-color: #1967d2;
  color: #fff;
}

select[multiple] option:hover {
  background-color: #c8c6c6; 
  color: #000;
  cursor: pointer;
}

select[multiple]::-webkit-scrollbar {
  width: 3px;
}

select[multiple]::-webkit-scrollbar-thumb {
  background-color: #828ba2;
  border-radius: 4px;
}

select[multiple]::-webkit-scrollbar-track {
  background-color: #eff2f9;
}

select {
  width: 100%;
  padding: 12px 15px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  color: #757575;
  background-color: #fff;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%23828ba2'%3E%3Cpath d='M7 10l5 5 5-5H7z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
}

select:focus {
  border-color: #1e2532;
}

select option {
  padding: 8px;
  margin: 2px;
  background-color: #fff;
  border-radius: 4px;
  transition: background-color 0.2s, color 0.2s;
}

select option:hover {
  background-color: #828ba2;
  color: #fff;
  cursor: pointer;
}
