<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/assets/css/output.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
<div class="max-w-md mx-auto p-6 bg-white border-2 border-blue-500 rounded-lg shadow-lg my-6">
    <h2 class="text-2xl font-bold text-center text-gray-800 mb-4">{{ subject }}</h2>
    <div class="text-2xl font-bold text-center bg-gradient-to-r from-blue-500 to-red-600 text-transparent bg-clip-text mb-4">
        Welcome!
    </div>
    <p class="text-sm text-gray-600 text-center leading-relaxed mb-4">
        Thank you for your reservation. We look forward to seeing you at the event!
    </p>
    <p class="text-base text-gray-600 leading-relaxed mb-6">{{ body }}</p>
</div>
</body>
</html>
