{% extends  "/layouts/Dashboard.twig" %}

{% block content %}
	<div class="pending__articles">
		<div class="heading">
			<h1>Pending events</h1>
		</div>

		<div class="pend__articles-content">
			<ul class="pend__articles-list">
                {% for event in events %}
				<li class="pending__course">
					<div class="course__cover">
						<img src="/assets/images/linkedin.png" alt="">
					</div>
					<div class="courseTeacher">
						<div class="teacher__picture-c">

							<img src="{{event.image}}" alt="">

						</div>
						<div class="organiser__name-c">
							<span>
								<p>{{event.firstname}}</p>
							</span>
						</div>
					</div>
					<div class="event__title-c">
						<a href="/event?slug=">
							<h3>{{event.title}}</h3>
						</a>
					</div>
					<div class="acc_ref-article">
						<div class="accept_art pend_btn">
							<a href="/admin/accept?eventId={{ event.id }}">
								<i class="fa-solid fa-check"></i>
							</a>
						</div>
						<div class="draft_art pend_btn">
							<a href="/admin/refuse">
								<i class="fa-solid fa-box-archive"></i>
							</a>
						</div>
						<div class="refuse_art pend_btn">
							<a href="/admin/delete">
								<i class="fa-solid fa-close"></i>
							</a>
						</div>
					</div>
				</li>
				{% endfor %}

			</ul>
		</div>

		<div class="pagination-container">
			<nav>
				<ul class="pagination-list">
					<li>
						<a href="?page=" class="pagination-link pagination-prev">Prev</a>
					</li>

					<li>
						<a href="?page=">
							1
						</a>
					</li>

					<li>
						<a href="?page=" class="pagination-link pagination-next">Next</a>
					</li>
				</ul>
			</nav>
		</div>

	</div>
	<div class="pending__articles">
		<div class="heading">
			<h1>Draft events</h1>
		</div>

		<div class="pend__articles-content">
		  
			<ul class="pend__articles-list">
    {% for event in events_active %}
				<li class="pending__course">
					<div class="course__cover">
						<img src="" alt="">
					</div>
					<div class="courseTeacher">
						<div class="teacher__picture-c">

							<img src=" " alt="">
							<span>Ali Yara</span>
						</div>
						<div class="teacher__name-c">
							<span>
								<p>lorem hhh</p>
							</span>
						</div>
					</div>
					<div class="course__title-c">
						<a href="../front/course.php?slug=">
							<h3>How to get somthing</h3>
						</a>
					</div>
					<div class="course__skills-c">
						<p>
							<strong>Skills you'll gain:
							</strong>
							<span style="text-transform:capitalize;">php</span>
						</p>
					</div>
					<div class="acc_ref-article">
						<div class="accept_art pend_btn">
							<a href="./courses.php?action=acceptCourse&courseId=">
								<i class="fa-solid fa-check"></i>
							</a>
						</div>
						<div class="refuse_art pend_btn">
							<a href="./courses.php?action=deleteCourse&courseId=">
								<i class="fa-solid fa-close"></i>
							</a>
						</div>
					</div>
				</li>

        {% endfor %}
			</ul>
			

		</div>

		<div class="pagination-container">
			<nav>
				<ul class="pagination-list">
					<li>
						<a href="?page=" class="pagination-link pagination-prev">Prev</a>
					</li>
					<li>
						<a href="?page=" class="pagination-link">
							1
						</a>
					</li>
					<li>
						<a href="?page=" class="pagination-link pagination-next">Next</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
{% endblock %}
