{% extends "/layouts/Base.twig"%}

{% block content %}
<main class="w-11/12 mx-auto pt-4 pb-12 flex flex-col gap-10">

	<div class="text-[#101828] flex items-center justify-center py-24">
		<div id="not-found" class="text-center">
			<h1 class="text-7xl font-bold text-[#f05537]">Not found</h1>
			<p class="text-xl mt-2">Oops! The page you're looking for doesn't exist.</p>
			<a href="/" class="mt-4 inline-block px-6 py-2 text-white bg-[#f05537] rounded-lg hover:bg-[#d63621]">Go Home</a>
		</div>
	</div>
</main>
{% endblock %}
